<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
</head>

<body>
<!-- Заголовок першого рівня відображає назву сторінки -->
<h1>Search For The Song</h1>

<!-- Поле для введення запиту користувачем
     id="user_value" дозволяє отримати доступ до поля за допомогою JS -->
<input type="text" id="user_value" placeholder="Enter song name">

<!-- Кнопка для запуску пошуку
    id="us_button" дозволяє отримати доступ до кнопки за допомогою JS -->
<button id="us_button">Search</button>

<!-- Заголовок третього рівня для відображення результату пошуку
     id="result" дозволяє змінити вміст елемента за допомогою JS -->
<h3 id="result"></h3>

<nav>
    <a href="index.html">Music Chart</a>
</nav>

</body>
</html>